<div>
  <h3>Edit</h3>
  <form id='edit-feed' ng-submit="feedEditVm.editFeed()">
    <div>
      <label for="title">Title:</label><br>
      <input class="textbox" type="text" name="title" ng-model="feedEditVm.feed.title">
    </div>
    <div>
      <label for="body">Content:</label><br>
      <textarea rows="5" cols="80" ng-model="feedEditVm.feed.body">
      </textarea>
    </div>

     <div>
      <label for="thumbnail">Image:</label><br>
      <input class="textbox" type="url" name="thumbnail" ng-model="feedEditVm.feed.thumbnail">
    </div>
    <br>
    <input class="button" type="submit" value="Edit">
  <button class="button" ui-sref="FeedList">Back to All Feeds</button>
  </form>
</div>
