<br>

<br>
<br>

<div class="row" ng-controller="NavbarController as vm">
  <div class="col-md-4" ng-repeat="feed in feedListVm.feeds" id="feedHome">

  {{feed.firstFeeds}}
  <h1>{{feed.title}}</h1>
  <p>{{ feedListVm.getWords(feed) }}</p>
  <p>By: {{ feedListVm.names[feed.postedBy] }}</p>
  <img ng-src="{{feed.thumbnail}}" id="smallPict">

  <button ui-sref="ShowFeed({id: feed._id})" class="button">Read More</button>
  <button ng-show="vm.authService.isLoggedIn()" ng-click="feedListVm.destroy(feed)" class="button">X</button>

  </div>
</div>
