<div>
  <h3>Edit</h3>
  <form id='edit-feed' ng-submit="feedEditVm.editFeed()">
    <div>
      <label for="title">Title:</label>
      <input type="text" name="title" ng-model="feedEditVm.feed.title">
    </div>
    <div>
      <label for="body">Content:</label><br>
      <textarea rows="5" cols="80" ng-model="feedNewVm.newFeed.body">
      </textarea>

    </div>
    <div>
      <label for="author">Author:</label><br>
      <input type="text" name="author" ng-model="feedNewVm.newFeed.author">
    </div>
     <div>
      <label for="thumbnail">Thumbnail:</label><br>
      <input type="url" name="thumbnail" ng-model="feedNewVm.newFeed.thumbnail">
    </div><br>
    <input type="submit" value="Add">
  </form>
</div>
